.best-deals {
    &__header {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: $main-blue;
        margin-top: 90px;
    }
}