.best-deals {
    &__header {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: $main-blue;
        margin-top: 90px;
        margin-bottom: 40px;
    }

    &__carousel {
        padding-left: 10px;
    }

    &__carousel-card-group {
        display: flex;
       
    }
    &__link {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-right: 50px;

    }

    &__link a {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 150%;
        color: $main-blue;

    }

    @media screen and(max-width: 414px){ 
        &__header {
            margin-top: 60px;
            padding-left: 30px;
        }

        &__link {
            margin-top: -20px;
        }

        &__carousel {
            padding-left: 30px;
        }
    }

    @media screen and(max-width: 375px){ 
        &__header {
            font-size: 32px;
            line-height: 38px;
            margin-top: 40px;
        }

        &__link {
            margin-top: -20px;
        }
    }

    @media screen and(max-width: 320px){ 
        &__header {
            font-size: 27px;
            padding-left: 25px;
        }

        &__carousel {
            padding-left: 25px;
        }

        &__link {
            margin-top: -20px;
        }
    }
}