.best-deals {
    &__header {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: $main-blue;
        margin-top: 90px;
        margin-bottom: 40px;
    }

    &__carousel {
        padding-left: 25px;
    }

    &__carousel-card-group {
        display: flex;
       
    }
}