#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    display: block;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 3px;
  
    background-color: $main-blue;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    position: relative;
    display: none;
    height: 895px;
    width: 410px;
    margin-top: 29px;
    padding: 29px 35px;
    list-style: none;
    background: #FFFFFF;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: $main-blue;
    font-family: "Mplus 1p";
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
  }
  .menu__item:hover {
    color: $green;
    font-weight: 800;
    text-decoration: none;
  }

  @media screen and(max-width: 1024px) {
    .menu__box {
      width: 380px;
    }

    .menu__btn {
      margin-left: -40px;
    }
  }

  @media screen and(max-width: 768px) {
    .menu__box {
      width: 361px;
      padding: 0;
    }

    .menu__item {
      padding: 2px 10px;
    }

    .menu__btn {
      margin-left: -159px;
    }
  }

  @media screen and(max-width: 414px) {
    .menu__btn {
      margin-left: 5px;
  }
  }

  @media screen and (max-width: 375px) {
    .menu__box {
      width: 357px;
    }
  }

  @media screen and(max-width: 320px) {
    .menu__box {
      width: 304px;
    }
  }

  