
.navigate {
min-width: 100%;
height: 80px;
background: #FFFFFF;
border: 1px solid #E5EBF0;
box-sizing: border-box;
box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
position: fixed;

&__logo-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 280px;
    height: 90px;
    background: #FFFFFF;
    border: 1px solid #E5EBF0;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
}

&__panel {
    display: flex;
}

&__logo-name {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: $main-blue;
    padding-top: 15px;
}

&__help {
    display: flex;
    align-items: center;
    padding-left: 89px;
}

&__help-block {
    padding-left: 10px;
}

&__help-text,
&__help-tel {
    font-family: "Open Sans";
    font-size: 14px;
    margin: 0;
    color: $main-blue;
}

&__help-tel {
    font-weight:  bold;
}

&__button-login {
    padding-left: 89px;
}

@media screen and(max-width: 1024px){
    &__button-login {
        padding-left: 45px;
        margin-right: 32px;
    }

    &__logo-block {
        width: 245px;
    }

    &__help {
        padding-left: 30px;
    }
}

@media screen and(max-width: 768px){ 
    &__logo-block {
        margin-left: 100px;
    }
}

@media screen and(max-width: 375px){ 
    &__logo-block {
        margin-left: 20px;
        width: 140px;
        height: 60px;
    }

    &__help-text,
    &__help-tel {
        display: none;
    }

    &__help {
        padding-left: 25px;
    }

    &__button-login {
        padding-left: 10px;
        margin-right: 0;
    }

    &__logo-name {
        padding-left: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 414px) {
    &__logo-block {
        margin-left: 35px;
        width: 140px;
        height: 60px;
    }

    &__help-text,
    &__help-tel {
        display: none;
    }

    &__help {
        padding-left: 25px;
    }

    &__button-login {
        padding-left: 10px;
        margin-right: 0;
    }

    &__logo-name {
        padding-left: 10px;
        font-size: 16px;
    }
}

@media screen and(max-width: 320px){
    &__help {
        padding-left: 5px;
    }

    &__logo-block {
        width: 130px;
        margin-left: 15px;
    }

    &__button-login {
        padding-left: 0px;
    }
    
}

}
    


