.rating {

    &__header {
        margin-top: 120px;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: $main-blue;
    }

    &__desc {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 33px;
        color: $main-blue;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    &__table {
        background: $white;
    }

    &__thead {
        background: $light-gray;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 150%;
        color: $main-blue;
    }

    &__numbers-green,
    &__numbers {
        width: 25px;
        height: 25px;
        background: $green;
        border-radius: 50%;
        color: $white;
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
    }

    &__numbers {
        background: $white;
        color: $green;
        border: 1px solid $green;
    }
    &__brocker {
        display:flex;
        align-items: center;
    }

    &__brocker-name {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: $main-blue;
        margin-bottom: 0;
        padding-left: 10px;
    }

    &__stars {
        display: flex;
        padding-top: 20px;
    }

    &__stars > span {
        width: 16px;
        height: 16px;
        background: url("../images/rating-star.svg") no-repeat;
    }

    &__button {
        width: 190px;
        height: 50px;
        border-radius: 100px;
        background: $green;
        border: none;
        color: $white;
        margin-right: -70px;
        transition: 0.5s linear;
        cursor: pointer;
    }

    &__button:hover {
        border: 1px solid $green;
        background: $white;
        color: $green;
        outline-color: lightgrey;
    }

    &__feedback {
        display: flex;
        align-items: center;
        padding-top: 15px;
    }

    &__feedback > span {
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 150%;
        color: $main-blue;
        padding-left: 11px;
    }

    &__review {
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 150%;
        color: $main-blue;
        text-decoration: underline;
    }
    
    &__review p {
        padding-top: 15px;
    }

    &__table-row {
        transition: 0.5s;
    }

    &__table-row:hover {
        box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
    }

    @media screen and(max-width: 1024px) {
        &__button {
            margin-right: -40px;
        }
    }

    @media screen and(max-width: 768px) {
        &__button {
            margin-right: 0;
        }
    }

    @media screen and(max-width: 414px) {
        &__header,
        &__desc {
            padding-left: 15px;
            padding-right: 15px;
        }
        
    }

    @media screen and(max-width: 320px) {
        &__header {
            font-size: 34px;
        }
        
    }
}