@import "utils";
@import "fonts";
@import "typography";
@import "navigate";
@import "burger-bar";
@import "rating";
@import "card";
@import "best-deals";
@import "carousel-card";
@import "article";
@import "footer";

body {
  background: $bgc !important;
}
p {
  margin: 0;
}
.navbar {
  height: 80px;
  position: fixed !important;
}
.navbar-expand-lg {
  margin-left: 30px;
}

.navbar-nav .nav-link {
  font-family: "Mplus 1p";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $main-blue;
}

.navbar-nav {
  padding-right: 30px;
}

.col-sm {
  position: static !important;
}




@media screen and(max-width: 1024px) {
  .navbar-nav {
    padding-right: 0;
  }

  .navbar-expand-lg {
    margin-left: 30px;
  }
}

@media screen and(max-width: 768px) {
  .navbar-expand-lg {
    margin-left: 17px;
}
  .navbar-nav {
    display: none !important;
  }
}

@media screen and(max-width: 414px) {
  .navbar-expand-lg {
    margin-left: 40px;
}
}

@media screen and(max-width: 375px) {
  .navbar {
    flex-wrap: nowrap !important;
  }

  .navbar-expand-lg {
    margin-left: 9px;
  }
}
@media screen and(max-width: 320px) {
  .navbar-expand-lg {
    margin-left: 17px;
}
}


