h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Mplus 1p";
  src: url("../fonts/Mplus1p-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.navigate {
  min-width: 100%;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #E5EBF0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
          box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15); }
  .navigate__logo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 280px;
    height: 90px;
    background: #FFFFFF;
    border: 1px solid #E5EBF0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
            box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15); }
  .navigate__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navigate__logo-name {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #213991;
    padding-top: 15px; }
  .navigate__help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 89px; }
  .navigate__help-block {
    padding-left: 10px; }
  .navigate__help-text, .navigate__help-tel {
    font-family: "Open Sans";
    font-size: 14px;
    margin: 0;
    color: #213991; }
  .navigate__help-tel {
    font-weight: bold; }
  .navigate__button-login {
    padding-left: 89px; }
  @media screen and (max-width: 1024px) {
    .navigate__button-login {
      padding-left: 45px;
      margin-right: 32px; }
    .navigate__logo-block {
      width: 245px; }
    .navigate__help {
      padding-left: 30px; } }
  @media screen and (max-width: 768px) {
    .navigate__logo-block {
      margin-left: 100px; } }
  @media screen and (max-width: 375px) {
    .navigate__logo-block {
      margin-left: 20px;
      width: 140px;
      height: 60px; }
    .navigate__help-text, .navigate__help-tel {
      display: none; }
    .navigate__help {
      padding-left: 25px; }
    .navigate__button-login {
      padding-left: 10px;
      margin-right: 0; }
    .navigate__logo-name {
      padding-left: 10px;
      font-size: 16px; } }
  @media screen and (max-width: 414px) {
    .navigate__logo-block {
      margin-left: 35px;
      width: 140px;
      height: 60px; }
    .navigate__help-text, .navigate__help-tel {
      display: none; }
    .navigate__help {
      padding-left: 25px; }
    .navigate__button-login {
      padding-left: 10px;
      margin-right: 0; }
    .navigate__logo-name {
      padding-left: 10px;
      font-size: 16px; } }
  @media screen and (max-width: 320px) {
    .navigate__help {
      padding-left: 5px; }
    .navigate__logo-block {
      width: 130px;
      margin-left: 15px; }
    .navigate__button-login {
      padding-left: 0px; } }

#menu__toggle {
  opacity: 0; }

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

#menu__toggle:checked ~ .menu__box {
  display: block; }

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #213991;
  -webkit-transition-duration: .25s;
          transition-duration: .25s; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 8px; }

.menu__box {
  position: relative;
  display: none;
  height: 895px;
  width: 410px;
  margin-top: 29px;
  padding: 29px 35px;
  list-style: none;
  background: #FFFFFF; }

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #213991;
  font-family: "Mplus 1p";
  font-size: 18px;
  line-height: 40px;
  text-decoration: none; }

.menu__item:hover {
  color: #56CE9D;
  font-weight: 800;
  text-decoration: none; }

@media screen and (max-width: 1024px) {
  .menu__box {
    width: 380px; } }

@media screen and (max-width: 768px) {
  .menu__box {
    width: 361px;
    padding: 0; }
  .menu__item {
    padding: 2px 10px; } }

@media screen and (max-width: 375px) {
  .menu__box {
    width: 357px; } }

@media screen and (max-width: 320px) {
  .menu__box {
    width: 304px; } }

.rating {
  min-width: 100px; }
  .rating__header {
    margin-top: 50px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #213991; }
  .rating__desc {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 33px;
    color: #213991;
    margin-top: 15px; }
  .rating__thead {
    background: #E5EBF0;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 150%;
    color: #213991;
    text-align: center; }
  .rating__numbers-green, .rating__numbers {
    width: 25px;
    height: 25px;
    background: #56CE9D;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px; }
  .rating__numbers {
    background: #FFFFFF;
    color: #56CE9D;
    border: 1px solid #56CE9D;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
  .rating__brocker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .rating__brocker-name {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #213991;
    margin-bottom: 0;
    padding-left: 10px; }
  .rating__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .rating__stars > span {
    width: 16px;
    height: 16px;
    background: url("../images/rating-star.svg") no-repeat; }
  .rating__button {
    width: 190px;
    height: 50px;
    border-radius: 100px;
    background: #56CE9D;
    border: none;
    color: #FFFFFF; }

p {
  margin: 0; }

.navbar {
  height: 80px;
  position: fixed !important; }

.navbar-expand-lg {
  margin-left: 30px; }

.navbar-nav .nav-link {
  font-family: "Mplus 1p";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #213991; }

.navbar-nav {
  padding-right: 30px; }

@media screen and (max-width: 1024px) {
  .navbar-nav {
    padding-right: 0; } }

@media screen and (max-width: 768px) {
  .navbar-expand-lg {
    margin-left: 2px; }
  .navbar-nav {
    display: none !important; } }

@media screen and (max-width: 375px) {
  .navbar {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; } }

/*# sourceMappingURL=main.css.map */
