@charset "UTF-8";
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Mplus 1p";
  src: url("../fonts/Mplus1p-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.navigate {
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #E5EBF0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
          box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
  position: fixed;
  z-index: 2; }
  .navigate__logo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 280px;
    height: 90px;
    background: #FFFFFF;
    border: 1px solid #E5EBF0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
            box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
    margin-left: 17px; }
  .navigate__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navigate__logo-name {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #213991;
    padding-top: 15px; }
  .navigate__help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 110px; }
  .navigate__help-block {
    padding-left: 10px; }
  .navigate__help-text, .navigate__help-tel {
    font-family: "Open Sans";
    font-size: 14px;
    margin: 0;
    color: #213991; }
  .navigate__help-tel {
    font-weight: bold; }
  .navigate__button-login {
    padding-left: 89px; }
  @media screen and (max-width: 1024px) {
    .navigate__button-login {
      padding-left: 45px;
      margin-right: 32px; }
    .navigate__logo-block {
      width: 220px; }
    .navigate__help {
      padding-left: 60px; } }
  @media screen and (max-width: 768px) {
    .navigate__logo-block {
      margin-left: 100px;
      height: 80px; }
    .navigate__button-login {
      margin-left: 20px;
      margin-right: 0; } }
  @media screen and (max-width: 414px) {
    .navigate__logo-block {
      margin-left: 20px;
      width: 140px;
      height: 60px; }
    .navigate__help-text, .navigate__help-tel {
      display: none; }
    .navigate__help {
      padding-left: 34px; }
    .navigate__button-login {
      padding-left: 0; }
    .navigate__logo-name {
      padding-left: 10px;
      font-size: 16px; } }
  @media screen and (max-width: 375px) {
    .navigate__logo-block {
      margin-left: 35px;
      width: 140px;
      height: 60px; }
    .navigate__logo-block img {
      padding-left: 10px; }
    .navigate__help-text, .navigate__help-tel {
      display: none; }
    .navigate__help {
      padding-left: 25px; }
    .navigate__button-login {
      margin-left: 10px; }
    .navigate__logo-name {
      padding-left: 10px;
      font-size: 16px;
      line-height: 18px; } }
  @media screen and (max-width: 320px) {
    .navigate__help {
      padding-left: 10px; }
    .navigate__logo-block {
      width: 130px;
      margin-left: 15px; }
    .navigate__button-login {
      margin-left: -3px; }
    .navigate__logo-name {
      padding-left: 6px;
      font-size: 14px;
      line-height: 16px; } }

#menu__toggle {
  opacity: 0; }

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

#menu__toggle:checked ~ .menu__box {
  display: block; }

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #213991;
  -webkit-transition-duration: .25s;
          transition-duration: .25s; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 8px; }

.menu__box {
  position: relative;
  display: none;
  height: 895px;
  width: 410px;
  margin-top: 29px;
  padding: 29px 35px;
  list-style: none;
  background: #FFFFFF; }

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #213991;
  font-family: "Mplus 1p";
  font-size: 18px;
  line-height: 40px;
  text-decoration: none; }

.menu__item:hover {
  color: #56CE9D;
  font-weight: 800;
  text-decoration: none; }

@media screen and (max-width: 1024px) {
  .menu__box {
    width: 380px; } }

@media screen and (max-width: 768px) {
  .menu__box {
    width: 361px;
    padding: 0; }
  .menu__item {
    padding: 2px 10px; }
  .menu__btn {
    margin-left: 5px; } }

@media screen and (max-width: 414px) {
  .menu__btn {
    margin-left: 15px; } }

@media screen and (max-width: 375px) {
  .menu__box {
    width: 357px; } }

@media screen and (max-width: 320px) {
  .menu__box {
    width: 304px; } }

.rating__header {
  margin-top: 120px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #213991; }

.rating__desc {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 33px;
  color: #213991;
  margin-top: 15px;
  margin-bottom: 40px; }

.rating__table {
  background: #FFFFFF; }

.rating__thead {
  background: #E5EBF0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;
  color: #213991; }

.rating__numbers-green, .rating__numbers {
  width: 25px;
  height: 25px;
  background: #56CE9D;
  border-radius: 50%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px; }

.rating__numbers {
  background: #FFFFFF;
  color: #56CE9D;
  border: 1px solid #56CE9D; }

.rating__brocker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.rating__brocker-name {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #213991;
  margin-bottom: 0;
  padding-left: 10px; }

.rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px; }

.rating__stars > span {
  width: 16px;
  height: 16px;
  background: url("../images/rating-star.svg") no-repeat; }

.rating__button {
  width: 190px;
  height: 50px;
  border-radius: 100px;
  background: #56CE9D;
  border: none;
  color: #FFFFFF;
  margin-right: -70px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  cursor: pointer; }

.rating__button:hover {
  border: 1px solid #56CE9D;
  background: #FFFFFF;
  color: #56CE9D;
  outline-color: lightgrey; }

.rating__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px; }

.rating__feedback > span {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 150%;
  color: #213991;
  padding-left: 11px; }

.rating__review {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;
  color: #213991;
  text-decoration: underline; }

.rating__review p {
  padding-top: 15px; }

.rating__table-row {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.rating__table-row:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
          box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15); }

@media screen and (max-width: 1024px) {
  .rating__button {
    margin-right: -40px; } }

@media screen and (max-width: 768px) {
  .rating__button {
    margin-right: 0; } }

@media screen and (max-width: 414px) {
  .rating__header, .rating__desc {
    padding-left: 15px;
    padding-right: 15px; } }

@media screen and (max-width: 320px) {
  .rating__header {
    font-size: 34px; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  height: 70px;
  -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
          box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
  border-radius: 5px;
  margin-right: 15px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding-right: 0 !important; }
  .card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 80%;
        flex-shrink: 80%; }
  .card__content p {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 15px;
    color: #213991; }
  .card__button {
    -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
            box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
    border-radius: 5px;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.card:hover {
  -webkit-box-shadow: 10px 5px 20px rgba(52, 54, 59, 0.15);
          box-shadow: 10px 5px 20px rgba(52, 54, 59, 0.15);
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05); }

.card:last-of-type {
  margin-right: 0; }

@media screen and (max-width: 414px) {
  .card {
    margin-right: 0; } }

.best-deals__header {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #213991;
  margin-top: 90px;
  margin-bottom: 40px; }

.best-deals__carousel {
  padding-left: 10px; }

.best-deals__carousel-card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best-deals__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  padding-right: 50px; }

.best-deals__link a {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 150%;
  color: #213991; }

@media screen and (max-width: 414px) {
  .best-deals__header {
    margin-top: 60px;
    padding-left: 30px; }
  .best-deals__link {
    margin-top: -20px; }
  .best-deals__carousel {
    padding-left: 30px; } }

@media screen and (max-width: 375px) {
  .best-deals__header {
    font-size: 32px;
    line-height: 38px;
    margin-top: 40px; }
  .best-deals__link {
    margin-top: -20px; } }

@media screen and (max-width: 320px) {
  .best-deals__header {
    font-size: 27px;
    padding-left: 25px; }
  .best-deals__carousel {
    padding-left: 25px; }
  .best-deals__link {
    margin-top: -20px; } }

.carousel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E5EBF0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .carousel-card__head {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
            box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
    border-radius: 5px; }
  .carousel-card__head div p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #213991;
    margin-bottom: 0; }
  .carousel-card__head img {
    width: 25% !important;
    height: auto; }
  .carousel-card__head div p:first-child {
    font-weight: bold;
    font-size: 20px; }
  .carousel-card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .carousel-card__body div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .carousel-card__body div:first-child span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #213991; }
  .carousel-card__body div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .carousel-card__body div:nth-child(2) {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #213991; }
  .carousel-card__button {
    width: 190px;
    height: 50px;
    background: #56CE9D;
    border-radius: 100px;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 30px auto 0;
    -webkit-transition: background 1s;
    transition: background 1s; }
  .carousel-card__button:hover {
    border: 1px solid #56CE9D;
    background: #FFFFFF;
    color: #56CE9D; }

.carousel-card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15);
          box-shadow: 5px 5px 20px rgba(52, 54, 59, 0.15); }

@media screen and (max-width: 414px) {
  .carousel-card {
    width: 93%; } }

.article {
  margin-top: 100px;
  margin-bottom: 46px; }
  .article__area {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 150%;
    color: #213991;
    padding: 24px 53px 14px;
    background: #FFFFFF;
    border: 1px solid #E5EBF0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .article__area h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 20px; }
  .article__area p {
    margin-bottom: 20px; }

@media screen and (max-width: 414px) {
  .article {
    margin-top: 40px; } }

.footer {
  background: #001A4B; }
  .footer__logo img {
    margin-top: 33px; }
  .footer__nav {
    margin-top: 30px; }
  .footer__nav-link {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.7) !important;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .footer__nav-link:hover:after {
    display: none !important; }
  .footer__nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline !important;
    font-weight: 800; }
  .footer__text {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.7); }
  .footer__text:first-child {
    margin-top: 30px;
    margin-bottom: 0; }
  .footer__tel {
    font-family: "Open Sans",sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.7); }
  .footer__line {
    width: 1140px;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 30px; }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__info p {
    margin-top: 8px; }
  @media screen and (max-width: 1024px) {
    .footer__line {
      width: 960px; } }
  @media screen and (max-width: 768px) {
    .footer__line {
      width: 715px; } }
  @media screen and (max-width: 414px) {
    .footer__line {
      width: 715px; }
    .footer__mobile {
      min-width: 100%; }
    .footer__info {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      padding-bottom: 20px; } }
  @media screen and (max-width: 320px) {
    .footer__info {
      padding-left: 10px;
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left; } }

body {
  background: #F8F8F8 !important; }

body, html {
  overflow-x: hidden; }

p {
  margin: 0; }

.opacity {
  opacity: 0.5; }

.navbar {
  height: 80px;
  position: fixed !important; }

.navbar-expand-lg {
  margin-left: 30px; }

.navbar-nav .nav-link {
  font-family: "Mplus 1p";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #213991; }

.navbar-nav {
  padding-right: 30px; }

.col-sm {
  position: static !important; }

.owl-prev {
  position: absolute;
  top: 138px; }

.owl-next {
  position: absolute;
  top: 138px;
  left: 1128px; }

.nav-item {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.nav-item:after {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.nav-item:focus {
  font-weight: 800; }

.nav-item:hover:after {
  content: '';
  display: inline-block;
  width: 90%;
  height: 2px;
  background: #56CE9D;
  position: absolute;
  top: 30px;
  left: 7px; }

@media screen and (max-width: 1024px) {
  .navbar-nav {
    padding-right: 0; }
  .navbar-expand-lg {
    margin-left: 13px; } }

@media screen and (max-width: 768px) {
  .navbar-expand-lg {
    margin-left: 17px; }
  .navbar-nav {
    display: none !important; } }

@media screen and (max-width: 414px) {
  .navbar-expand-lg {
    margin-left: 40px; } }

@media screen and (max-width: 375px) {
  .navbar {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .navbar-expand-lg {
    margin-left: 9px; } }

@media screen and (max-width: 320px) {
  .navbar-expand-lg {
    margin-left: 17px; } }

.modal-content {
  background: #56CE9D !important;
  border-radius: 5px; }

.modal-bth {
  width: 380px;
  height: 70px;
  background: #56CE9D;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 15px 5px 20px rgba(45, 175, 215, 0.2);
          box-shadow: 15px 5px 20px rgba(45, 175, 215, 0.2);
  border-radius: 35px;
  color: #FFFFFF;
  margin: 0 auto; }

.tabs {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 66px;
  padding-right: 54px; }

.tabs__content {
  display: none;
  /* по умолчанию прячем все блоки */
  padding: 0; }

.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */
  padding: 0; }

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0; }

.tabs__caption li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-top: 96px;
  margin-right: 15px;
  cursor: pointer; }

.form__input {
  width: 380px;
  height: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
          box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
  border-radius: 5px;
  border: none; }

.form__input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  padding-left: 26px; }

.form__input::-moz-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  padding-left: 26px; }

.form__input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  padding-left: 26px; }

.form__input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  padding-left: 26px; }

.form__input::placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  padding-left: 26px; }

input[type="checkbox"] + label {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
